<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.git.hui.boot.redis.mapper.SiteVisitRankMapper" >
  <resultMap id="BaseResultMap" type="com.git.hui.boot.redis.entity.SiteVisitRank" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="APP_NAME" property="appName" jdbcType="VARCHAR" />
    <result column="URI" property="uri" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="RANK" property="rank" jdbcType="BIGINT" />
    <result column="URI_TAG" property="uriTag" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="LASTUPDATE_DATE" property="lastupdateDate" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
  </resultMap>

  <select id="selectRankScoreByAppNameAndUri" resultType="java.lang.Long">
    SELECT RANK FROM bus_site_visit_rank_t WHERE APP_NAME = #{appName} AND URI = #{uri} AND STATUS = 1 ORDER BY RANK DESC LIMIT 1
  </select>
</mapper>